@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Lax Bro</h1>
    <br />

    <h4>Welcome to the webiste dedicated to Lacrosse, the fastest game on two feet.</h4>
    <br /><br />

    <p>
        Everything about lacrosse makes it the adrenaline junkie's dream sport. Decked out in gear that screams "game time," 
        players step onto the turf with swag, ready to unleash the inner beasts. Armed with sticks that feel like extensions of 
        their arms, they weave through defenders like a boss, pulling off slick dodges and spins that leave opponents scratching 
        their heads. The soundtrack of the game? It's the rhythmic clashing of sticks and the whoosh of the ball as it flies 
        towards the goal, setting hearts racing faster than a 120mph ripper to the top corner.
        <br /> <br />
        In the world of lacrosse, every play is a masterpiece crafted by the squad, blending individual flair with team flow. 
        From launching rocket shots that make the goalie feel like a fish out of water to dropping dimes with pinpoint passes 
        that slice through defenses like a hot knife through butter, every move is straight-up fire. Whether it's throwing down 
        a sick check to snatch the ball away or setting up a slick pick to open up space for a teammate, the game's all about 
        those epic moments that make you feel alive. With its dope history and ever-evolving vibe, lacrosse isn't just a sport – 
        it's a lifestyle, and it's here to stay, keeping the hype alive one game at a time.
    </p>
</div>

<div style="display: flex; justify-content: space-between;">
    <div style="margin-right: 10px; border: 2px solid royalblue; padding: 5px;">
        <img src="~/byulax1.png" height="400" id="byulaxpic" />
    </div>

    <div style="border: 2px solid royalblue; padding: 5px;">
        <img src="~/dukevsyale.jpeg" height="400" id="dukevsyalepic" />
    </div>
</div>